{# templates/producto/lista.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
    <h1>Lista de Productos</h1>
    <p>{{ message }}</p>
{% endblock %}
